<!doctype html>
<html>
<head style="backround-color:DodgerBlue;">
	<title>GPIO with Flask!</title>
</head>
<h2 style="backround-color:87f566;">Click a Button and a light will turn on!</h2>
<body>
{{msg}}
{% if msg == "00" %}
<form method="POST">
	<input onclick="form.submit()" type="checkbox" name="submitBtn1" value="1high">Click me!</button>
	<input onclick="form.submit()" type="checkbox" name="submitBtn1" value="2high">No, Click me!</button>
</form>
{% endif %}
{% if msg == "01" %}
<form method="POST">
        <input onclick="form.submit()" type="checkbox" name="submitBtn1" value="1high">Click me!</button>
	<input onclick="form.submit()" type="checkbox" name="submitBtn1" value="2low" checked>No, Click me!</button>	
</form>
{% endif %}
{% if msg == "11" %}
<form method="POST">
        <input onclick="form.submit()" type="checkbox" name="submitBtn1" value="1low" checked>Click me!</button>
	<input onclick="form.submit()" type="checkbox" name="submitBtn1" value="2low" checked>No, Click me!</button>
</form>
{% endif %}
{% if msg == "10" %}
<form method="POST">
        <input onclick="form.submit()" type="checkbox" name="submitBtn1" value="1low" checked>Click me!</button>
	<input onclick="form.submit()" type="checkbox" name="submitBtn1" value="2high">No, Click me!</button>
</form>
{% endif %}
</body>
</html>
